h2{font-family: Inter;
font-size: 45px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
color:#23346B;

}
h5{font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #23346B;
}
ul>li>a{
	font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color:#000000;
text-decoration: none ;
}